.grow {
    transition: all .2s ease-in-out;
    transition: transform .2s;
}

.grow:hover {
    /* transform: scale(2.1); */
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(1.5);
}